input(name="name" type="hidden" required minlength="3" placeholder="Nouvel an" value=`${party.name}`)
input(name="author" type="hidden" required value=`${party.author}`)
input(name="date" type="hidden" required value=`${party.date}` )
input(name="title" type="hidden" required value=`${party.title}`)
input(name="url" type="hidden" required value=`${party.url}`)
